# Секреты
.env
*.pem
*.key

# Python
__pycache__/
*.py[cod]
.python-version
.venv/
venv/
env/
Pipfile.lock
poetry.lock

# Базы данных
*.db
*.sqlite
*.sqlite3
db/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml  # локальные настройки

# Логи
*.log
logs/